*{
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    background: rgba(39,174,96, 0.6);
    width: auto;
    align-items: center;
    justify-content: space-around;
    grid-area: hea;
}

ul {
    display: flex;
    width: 500px;
    justify-content: space-between;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}

a:hover {
    text-decoration: underline;
    color: aliceblue;
}

#background{
    background-image: url("/img/zhenyu-luo-2p1U8zi7cwY-unsplash.jpg");
    background-size: cover;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15vh 15vh 70vh ;
    grid-template-areas:
    "hea"
    "."
    "sec"
    ;
    /*border-bottom: solid black; */
}

section {
    grid-area: sec;
    display: flex;
    /*position: relative; top: 250px;*/
    align-items: center;
    justify-content: center;
}

p {
    width: 300px;
    height: 100px;
    background-image: url("/img/AdventureAtlas\ v1.png");
    background-size: contain;
    background-repeat: no-repeat;
    /*background: gray;*/
}